<!-- find me in /Disk-0/OLAP-hosting/Ruby/railsapps/gofreerev-fb/app/views/layouts/page_footer/_page_footer.html.erb -->
<br />
<% if !@user or @user.facebook? -%>
Bring me back to <%= link_to_app_on_facebook %> app page on <%= link_to_facebook %>.<br />
<% end -%>
<% if !@user or @user.google_plus? -%>
Bring me back to <%= link_to_google_plus %>.<br />
<% end -%>

<br />
<hr>
<p>
  <%= APP_NAME %> is an open source project.
  Source to this Rails/Facebook app is available at <%= link_to_cvs %>
  under MIT licence and can be used by other developers in their open source projects.
  Open source also means that there are no secrets about how this app works and which information is saved.
  <br />
  <br />
  It is my hope that technology will develop that supports the many interesting thoughts in
  <%= link_to_charles_eisenstein %>'s book <%= link_to_sacred_economics %>.
</p>
