<div style="width: 100%"><br/></div>

<div style="width: 100%">
  <table>
    <tr>
      <th title="<%= t ".visit_title", :appname => APP_NAME, :apiname => provider_downcase(nil) %>"><%= t ".visit_th" %></th>
      <th style="width: 10px"></th>
      <th><%= t '.connect_th' %></th>
      <th style="width: 10px"></th>
      <th><%= t '.access_th' %></th>
    </tr>
    <% @providers.each do |x| ; provider, logged_in, access = x -%>
    <tr>
      <td title="<%= t ".visit_title", :appname => APP_NAME, :apiname => provider_downcase(provider) %>">
        <%= link_to provider_camelize(provider), API_URL[provider], :target => '_blank' %>
      </td>
      <td></td>
      <td title="<%= t ".log_in_out_title#{logged_in}", :appname => APP_NAME, :apiname => provider_downcase(provider) %>">
        <% if logged_in == 0 -%>
            <%= link_to t(".log_in_link_text"), "/auth/#{provider}" %>
        <% else -%>
            <%= link_to t(".log_out_link_text"), auth_destroy_path(:id => provider), :method => :delete %>
        <% end -%>
      </td>
      <td></td>
      <td>
        <%= link_to t(".access_link_text_#{access}"), API_APP_SETTING_URL[provider] || '#', :target => '_blank' %>
      </td>
    </tr>
    <% end -%>
  </table>
</div>


<div style="width: 100%"><br/></div>
<%= link_to t('.remove_cookies_link_text'), cookie_decline_cookies_path %>
<div style="width: 100%"><br/></div>

<% if false -%>
    <% for key in session.keys do -%>
        <%= "session[:#{key}] = #{debug session[key]}" %><br />
    <% end -%>
<% end -%>

<div style="width: 100%">
  <hr>
</div>