<script>
    // set/reset user,share_account_id
    // used in shared/share_accounts partial
    // used in auth/index and todo: pages
    function share_accounts_ajax() {
        var pgm = 'share_accounts_ajax: ' ;
        var share_level_lov = document.getElementById('share_level_lov') ;
        if (!share_level_lov) {
            add_to_tasks_errors(I18n.t('js.share_accounts.lov_not_found')) ;
            return ;
        }
        var share_level = share_level_lov.options[share_level_lov.selectedIndex].value ;
        var offline_access_checkbox = document.getElementById('offline_access_checkbox') ;
        var offline_access_yn ;
        if (!offline_access_checkbox) offline_access_yn = '' ;
        else if (offline_access_checkbox.checked) offline_access_yn = 'Y' ;
        else offline_access_yn = 'N' ;
        clear_ajax_errors('share_accounts_errors');
        add2log(pgm + 'share_level = ' + share_level + ', offline_access_yn = ' + offline_access_yn) ;
        $.ajax({
            url: "/util/share_accounts.js",
            type: "POST",
            dataType: 'script',
            data: { share_level: share_level, offline_access_yn: offline_access_yn },
            beforeSend: function() {
                // add2log(pgm + 'beforesend') ;
                share_level_lov.disabled = true ;
                share_level_lov.readonly = true ;
                if (offline_access_checkbox) {
                    offline_access_checkbox.disabled = true ;
                    offline_access_checkbox.readonly = true ;
                }
            },
//        success: function (responseText, statusText, xhr, $form) {
//            var pgm = 'share_accounts_ajax:success: ' ;
//            add2log(pgm + 'start') ;
//        }, // success
            error: function (jqxhr, textStatus, errorThrown) {
                var pgm = 'share_accounts_ajax:error: ' ;
                if (leaving_page) return ;
                var err = add2log_ajax_error(pgm, jqxhr, textStatus, errorThrown) ;
                add_to_tasks_errors(I18n.t('js.share_accounts.ajax_error', {error: err, location: 19, debug: 0}));
            },
            complete: function() {
                // add2log(pgm + 'complete') ;
                share_level_lov.disabled = false ;
                share_level_lov.readonly = false ;
                if (offline_access_checkbox) {
                    offline_access_checkbox.disabled = false ;
                    offline_access_checkbox.readonly = false ;
                }
            }
        });

    } // share_accounts_ajax
</script>
<div style="width: 100%"><br/></div>

<div style="width: 100%">
  <table>
    <tr>
      <td>
        <table>
          <tr>
            <th title="<%= t ".visit_title", :appname => APP_NAME, :apiname => provider_downcase(nil) %>"><%= t ".visit_th" %></th>
            <th style="width: 10px"></th>
            <th title="<%= t ".connect_th_title", :appname => APP_NAME %>">
              <%= t '.connect_th' %>
            </th>
            <th style="width: 10px"></th>
            <th title="<%= t ".access_th_title", :appname => APP_NAME %>">
              <%= t '.access_th' %>
            </th>
            <th style="width: 10px"></th>
            <th title="<%= t ".post_th_title", :appname => APP_NAME %>">
              <%= t '.post_th' %>
            </th>
          </tr>
          <% @providers.each do |x| ; provider, logged_in, access, post_on_wall = x -%>
              <tr>
                <td title="<%= t ".visit_title", :appname => APP_NAME, :apiname => provider_downcase(provider) %>">
                  <%= link_to provider_camelize(provider), API_URL[provider], :target => '_blank' %>
                </td>
                <td></td>
                <td title="<%= t ".log_in_out_title#{logged_in}", :appname => APP_NAME, :apiname => provider_downcase(provider) %>">
                  <% if logged_in == 0 -%>
                      <%= link_to t(".log_in_link_text"), "/auth/#{provider}" %>
                  <% else -%>
                      <%= link_to t(".log_out_link_text"), auth_destroy_path(:id => provider), :method => :delete %>
                  <% end -%>
                </td>
                <td></td>
                <td title="<%= t ".access_title_#{access}", :appname => APP_NAME, :apiname => provider_downcase(provider) %>">
                  <%= link_to t(".access_link_text_#{access}"), API_APP_SETTING_URL[provider] || '#', :target => '_blank' %>
                </td>
                <td></td>
                <td style="text-align: center"><%= post_on_wall_checkbox(provider, post_on_wall) %></td>
              </tr>
          <% end -%>
<% if false -%>
          <tr class="auth-desc-small">
            <td colspan="7">
              <br><%= t '.description_html', :appname => APP_NAME %>
            </td>
          </tr>
<% end -%>
        </table>
      </td>
      <td class="auth-desc-large" style="vertical-align: middle"><%= t '.description_html', :appname => APP_NAME %></td>
    </tr>
  </table>
</div>

<div class="auth-desc-small" style="width: 100%">
  <br>
  <%= t '.description_html', :appname => APP_NAME %>
</div>

<%= render :partial => 'shared/share_accounts' %>
<table width="100%"><tbody id="share_accounts_errors" class="ajax_errors"></tbody></table>

<div style="width: 100%"><br/></div>
<%= link_to t('.remove_cookies_link_text'), cookie_decline_cookies_path %>
<div style="width: 100%"><br/></div>

<% if false -%>
    <% for key in session.keys do -%>
        <%= "session[:#{key}] = #{debug session[key]}" %><br />
    <% end -%>
<% end -%>

<div style="width: 100%">
  <hr>
</div>