<% if comment.deleted_at -%>
    <tr id="<%= comment.table_row_id %>" style="display: none">
      <td></td>
    </tr>
<% else -%>
    <tr id="<%= comment.table_row_id %>">
      <td colspan="2" style="text-align: right; vertical-align: top">
        <%= @comment = comment ; render 'comments/comment_status' %>
      </td>
      <td style="vertical-align: top;"><%= render '/shared/user_div', :user_div => comment.user %></td>
      <td style="text-align: left; vertical-align: top"><%= my_sanitize comment.comment %></td>
    </tr>
<% end -%>