<% # show newest 4 comments for each gift when gifts/index page is loaded (@first_comment_id == nil)
   # ajax get next 10 older comments where user clicks on "get-older-comments" link in gifts/index page
   # ajax rows are surrounded be a start and a end line, appended to end of gifts table and moved up in post ajax processing
   # ajax post processing is done by my.js / post_ajax_add_older_comments_handler (event handler added onclick for show-older-comments link)
   comments = @gift.comments_with_filter(@first_comment_id)
   first_comment = comments.first
   no_older_comments = first_comment ? first_comment.no_older_comments : 0
-%>
<% if @first_comment_id -%>
<tr id="<%= "gift-#{@gift.id}-older-comments-block-start-#{@first_comment_id}" %>">
  <td colspan="2"></td>
</tr>
<% end -%>
<% if no_older_comments > 0 -%>
    <tr id="<%= "gift-#{@gift.id}-show-older-comments-row-#{first_comment.id}" %>">
      <td style="vertical-align: top;" colspan="2">
        <%= link_to (no_older_comments == 1 ? my_t('.show_older_comment') : my_t('.show_older_comments', :no_older_comments => no_older_comments)),
                    "comments?gift_id=#{@gift.id}&first_comment_id=#{first_comment.id}",
                    :remote => true,
                    :id => "gift-#{@gift.id}-show-older-comments-link-#{first_comment.id}" ,
                    :onclick => "post_ajax_add_older_comments_handler(#{@gift.id},#{first_comment.id})"  %>
      </td>
    </tr>
<% end -%>
<% for comment in comments do loop -%>
    <tr id="<%= "comment-gift-#{comment.gift.id}-comment-#{comment.id}" %>">
      <td style="vertical-align: top;"><%= @user2 = comment.user ; render '/shared/user_div' %></td>
      <td><%= my_sanitize comment.comment %></td>
    </tr>
<% end -%>
<% if @first_comment_id -%>
<tr id="<%= "gift-#{@gift.id}-older-comments-block-end-#{@first_comment_id}" %>">
  <td colspan="2"></td>
</tr>
<% end -%>