<p>
  <%= APP_NAME %> did not get access to your basic FB info.
  Your basic info - Includes your name, profile picture, gender, networks, user ID, list of friends and any other information you made.
  That is basical information that is already public.
  No facebook can work without access to your basic FB info.
  <br /><br />
  <%= APP_NAME %> uses FB for login and your unique unique user ID to keep track of your balance in free money.
  <br /><br />
  Thank you for visiting <%= APP_NAME %>.
  <br /><br />
  Use the <u>facebook</u> link below to return to facebook or
  use <u><%= APP_NAME %></u> link to grant <%= APP_NAME %> access to your basic FB info.
</p>


