<p>
  Meddelelser
</p>

<table>
  <tr>
    <th><%= my_t '.from_column_heading_html' %></th>
    <th><%= my_t '.to_column_heading_html' %></th>
    <th><%= my_t '.created_at_column_heading_html' %></th>
    <th><%= my_t '.message_column_heading_html' %></th>
  </tr>
  <% for noti in @notifications do loop -%>
    <tr>
      <td>
<% if noti.from_user -%>
    <%= @user2 = noti.from_user ; render '/shared/user_div' %>
<% end -%>
      </td>
      <td>
<% if noti.to_user -%>
    <%= @user2 = noti.to_user ; render '/shared/user_div' %>
<% end -%>
      </td>
      <td><%= link_to l(noti.created_at, format: :short), noti.noti_fullpath %></td>
      <td><%= my_t ".#{noti.noti_t_key}", noti.noti_t_options %></td>
    </tr>
  <% end -%>
</table>
<%= will_paginate @notifications %>

