<td><%= friends_filter_text %></td>
<td>
  <u><%= app_friends_yes_link(@page_values) %></u>
  <u><%= app_friends_no_link(@page_values) %></u>
  <u><%= app_friends_all_link(@page_values) %></u>
  <u><%= app_friends_find_link(@page_values) %></u>
  <u><%= app_friends_me_link(@page_values) %></u>
</td>