<% edit = false unless edit -%>
<tr>
  <td rowspan="4" style="width: 102px;"><%= @size = 'large' ; render '/shared/user_div', :user_div => user %></td>
  <td><%= t '.user_name_prompt' %></td>
  <td>:</td>
  <td title="<%= t '.user_name_title', :username => user.short_or_full_user_name(@user), :apiname => user.apiname %>">
    <%= link_to user.user_name, api_profile_url(user), {:target => '_blank'} %>
  </td>
</tr>
<tr>
  <td><%= t '.friend_status_prompt' %></td>
  <td>:</td>
  <td title="<%= t '.friend_status_title_' + (user.mutual_friends(@users).size == 1 ? '1' : 'n'),
                      :no_mutual_friends => user.mutual_friends(@users).size,
                      :mutual_friends => user.mutual_friends(@users).join(', ') if !user.friend?(@user) %>">
    <%= t user.friend_status_translate_code(@users),
             :appname => APP_NAME,
             :apiname => user.apiname,
             :username => user.short_user_name,
             :no_mutual_friends => user.mutual_friends(@users).size,
             :mutual_friends => user.mutual_friends(@users) %>
  </td>
</tr>
<tr>
  <td><%= t '.user_balance_prompt' %></td>
  <td>:</td>
  <td><%= format_user_balance(user, @user) if user.friend?(@user) %></td>
</tr>
<tr>
  <td colspan="3">
     <%= render :partial => "friend_action_buttons", :locals => {:friend_action_buttons => user, :edit => edit} %>
  </td>
</tr>
<tr>
  <td colspan="4">
    <hr>
  </td>
</tr>
