<%
   friend = user.friend?(@user)
-%>
  <tr id="">
    <td><%= @size = '100x100' ; render '/shared/user_div', :user_div => user %></td>
    <td style="vertical-align: top">
      <table>
        <tr><td><%= my_t '.user_name_prompt' %></td><td>:</td><td><%= user.user_name %></td></tr>
        <tr>
          <td><%= my_t '.friend_status_prompt' %></td>
          <td>:</td>
          <td><%= my_t user.friend_status_translate_code(@user), :appname => APP_NAME, :apiname => @user.api_name_without_brackets, :username => user.short_user_name %></td></tr>
        <tr><td><%= my_t '.user_balance_prompt' %></td><td>:</td><td><%= format_user_balance(user, @user) if friend %></td></tr>
        <tr><td colspan="3"><table><tr><%= render :partial => "friend_action_buttons", :locals => { :friend_action_buttons => user } %></tr></table></td></tr>
      </table>
    </td>
  </tr>

