<%# my_t '.page_header_text_html' %>
<br />
<table>
  <tr>
    <td><%= my_t '.friends_filter_prompt', :appname => APP_NAME %></td>
    <td><%= link_to my_t('.app_friends_link_text'), users_path(:friends => true) %></td>
    <td><%= link_to my_t('.not_app_friends_link_text'), users_path(:friends => false) %></td>
    <td><%= link_to my_t('.all_app_users_link_text'), users_path %></td>
    <td>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
    <td><%= my_t '.invite_api_friends_link_prompt2', :apiname => @user.api_name_without_brackets %></td>
    <td title="<%= my_t '.invite_api_friends_link_title2', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>">
      <%= link_to my_t('.invite_api_friends_link_text2', :apiname => @user.api_name_without_brackets), invite_friends_url %>
    </td>
  </tr>
</table>
<br />

<% if @users.size == 0 -%>
    <p>
      <%= my_t '.no_users_was_found_html', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>
    </p>
    <%= my_t 'shared.invite_friends.invite_api_friends_link_prompt1', :apiname => @user.api_name_without_brackets %> <%= invite_friends_link1 %>
    <br />
<% else -%>
    <table id="users">
    <% for user in @users do -%>
        <%= render :partial => 'user', :locals => { :user => user } %>
    <% end -%>
    </table>
<% end -%>

<br />
<%= link_to "add-more-lines", "/users?last_user_id=#{@last_user_id}", :remote => true, :id => "show-more-users-link", :style => "display: none" %>

<script>
    // no client side checks before changing currency in this page
    pre_update_currency = default_pre_update_currency ;

    // todo: maybe refactor. Almost identical code in gifts/index and users/show page

    // true when user is near end of page (get more users)
    var bottom = false ;

    // add post ajax event handler for "show-more-users-link" link
    // change url with new last_user_id or hide url when all gofreerev users have been returned to page
    $(document).ready(function(){
        $('#show-more-users-link')
                .bind("ajax:success", function(evt, data, status, xhr){
                    // find id for last gift (nil or gift_id for last gift in table)
                    var link = document.getElementById("show-more-users-link") ;
                    if (!link) return ; // link has already been removed
                    var table = document.getElementById("users") ;
                    if (!table) return ; // no users - ignore ajax
                    var trs = table.rows ;
                    // alert('length = ' + trs.length) ;
                    var tr = trs[trs.length-1] ;
                    var tr_id = tr.id ;
                    // alert('tr_id = ' + tr_id) ;
                    if (tr_id == "") {
                        // alert('no more users - remove link') ;
                        link.parentNode.removeChild(link);
                        // todo: remove this event handler
                    }
                    else {
                        // change last_user_id in link
                        var tr_id_a = tr_id.split("_") ;
                        var last_user_id = tr_id_a[tr_id_a.length-1] ;
                        // alert('last_user_id = ' + last_user_id) ;
                        link.href = "/users?last_user_id=" + last_user_id ;
                        bottom = false ;
                    }
                });
    }); // $(document).ready

    // check if user scrolls to end of page and get more Gofreerev users from server before user reaches end of page
    $(window).scroll(function(){
        if (bottom) return ;
        if (($(document).height() - $(window).height()) - $(window).scrollTop() < 600){
            bottom = true ;
            // alert("We're at the bottom of the page!!");
            var table = document.getElementById("users") ;
            if (!table) return ; // no users - no ajax requests
            var link = document.getElementById("show-more-users-link") ;
            if (!link) return ; // no more users - unregister this function
            // get more Gofreerev users from server
            link.click() ;
        }
    }); // $(window).scroll

    // scroll to top of page after reload - only fetch first 10 users after reload
    $(document).ready(function(){
        $(this).scrollTop(0);
    });

</script>