<script>
    <%=
      # recheck invalid picture urls with owner permissions
      @missing_api_picture_urls
    %>
</script>

<%# t '.page_header_text_html' %>

<br/>
<div style="width: 100%" class="friends-filter-1-line">
  <table>
    <tr>
      <td><%= friends_filter_text %></td>
      <td><u><%= app_friends_link(@friends_filter) %></u></td>
      <td><u><%= not_app_friends_link(@friends_filter) %></u></td>
      <td><u><%= app_friends_friends_link(@friends_filter) %></u></td>
      <td>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
      <td><%= invite_api_friends_text %></td>
      <td><%= invite_api_friends_link %></td>
    </tr>
  </table>
</div>
<div style="width: 100%" class="friends-filter-2-lines">
  <table>
    <tr>
      <td><%= friends_filter_text %></td>
      <td>
        <u><%= app_friends_link(@friends_filter) %></u>
        <u><%= not_app_friends_link(@friends_filter) %></u>
        <u><%= app_friends_friends_link(@friends_filter) %></u>
      </td>
    </tr>
    <tr>
      <td><%= invite_api_friends_text %></td>
      <td><%= invite_api_friends_link %></td>
    </tr>
  </table>
</div>
<br/>

<% if @users2.size == 0 -%>
    <p>
      <%= t '.no_users_was_found_html', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>
    </p>
    <%= t 'shared.invite_friends.invite_api_friends_link_prompt1', :apiname => @user.api_name_without_brackets %> <%= invite_friends_link1 %>
    <br/>
<% else -%>
    <div style="width: 100%">
      <table id="users" style="width: 100%">
        <tr>
          <td colspan="4">
            <hr>
          </td>
        </tr>
        <% for user in @users2 do -%>
            <%= render :partial => 'user', :locals => {:user => user} %>
        <% end -%>
      </table>
    </div>
<% end -%>

<br/>
<%# add remote link to get more rows and call javascript to setup end of page event and post ajax handling of the new rows. set DEBUG_AJAX to true in initializers/constraints.rb to get more ajax debug information -%>
<%= link_to "show-more-lines", "/users?last_row_id=#{@last_row_id}", :remote => true, :id => "show-more-rows-link", :style => "display: none" %>
<%= render :partial => 'shared/show_more_rows', :locals => {:show_more_rows => 'users'} %>

<hr>

<script>
    // no client side checks before changing currency in this page
    pre_update_currency = default_pre_update_currency;
</script>