<%
   friend = @user2.friend?(@user)
-%>
<%= my_t '.page_header_text_html' %>

<%= render :partial => 'user', :locals => { :user2 => @user2 } %>

<p>
<% if friend -%>
   <%= my_t '.top_text_friend_html', :username => @user2.short_user_name, :apiname => @user.api_name_without_brackets %>
<% else -%>
      <%= my_t '.top_text_non_friend_html', :username => @user2.user_name, :apiname => @user.api_name_without_brackets %>
<% end -%>
</p>
<br />
<%= friend ? @user2.short_user_name : @user2.user_name %> <%= @user2.api_name_without_brackets %> <%= link_to my_t('.api_profile_link_text'), @user2.api_profile_url, { :target => '_blank' }  %>.
<br />
