<script>
<%=
  # recheck invalid picture urls with owner permissions
  @missing_api_picture_urls
%>
</script>

<%= my_t '.page_header_text_html' %>

<table>
<%= render :partial => 'user', :locals => { :user => @user2 } %>
</table>
<br />

<% if false -%>
<p>
  <%= my_t (@user2.friend?(@user) ? '.top_text_friend_html' : '.top_text_non_friend_html'),
           :username => @user2.short_or_full_user_name(@user),
           :apiname => @user.api_name_without_brackets %>
</p>
<% end -%>

<%= render :partial => 'show_tabs' if @tabs.size > 1 %>

<% if !@tab or @tab == 'friends' or !@user2.friend?(@user) -%>
    <%= render :partial => 'show_friends' %>
<% elsif @tab == 'balance' -%>
    <%= render :partial => 'show_balance' %>
<% end -%>

<br />
<%= link_to "show-more-rows", user_path(:id => @user2.id, :last_row_id => @last_row_id, :tab => @tab), :remote => true, :id => "show-more-rows-link", :style => "display: none" if @last_row_id %>
<%= render :partial => 'shared/show_more_rows', :locals => { :show_more_rows => (@tab == 'friends' ? 'users' : 'gifts') } %>

<script>
    // no client side checks before changing currency in this page
    pre_update_currency = default_pre_update_currency ;
</script>
