<script>
<%=
  # recheck invalid picture urls with owner permissions
  @missing_api_picture_urls
%>
</script>

<%= my_t '.page_header_text_html' %>

<table>
<%= render :partial => 'user', :locals => { :user => @user2 } %>
</table>

<p>
  <%= my_t (@user2.friend?(@user) ? '.top_text_friend_html' : '.top_text_non_friend_html'),
           :username => @user2.short_or_full_user_name(@user),
           :apiname => @user.api_name_without_brackets %>
</p>

<% if @user2.friend?(@user) and @gifts.size > 0 -%>
<table id="gifts" style="border-spacing: 0;">
  <%= render :partial => 'table_header_row' %>
  <%= render :partial => 'gifts' %>
</table>
<% end -%>

<br />
<br />
<%= link_to "add-more-lines", user_path(:id => @user.id, :last_gift_id => @last_gift_id), :remote => true, :id => "show-more-gifts-link", :style => "display: none" %>

<script>
    // no client side checks before changing currency in this page
    pre_update_currency = default_pre_update_currency ;

    // todo: refactor. This code is also in gifts/index page

    // report any invalid api picture urls - url has changed or picture has been deleted
    // array with gift ids is initialized in img onload="check_api_picture_url ..."
    // submitted in 2 seconds to allow pictures in page to load
    // api_picture_url_on_error_at is setted for pictures with invalid urls
    setTimeout(report_missing_api_picture_urls, 2000) ;

    // true when user is near end of page (get more gifts)
    var bottom = false ;

    // add post ajax event handler for "show-more-gifts-link" link
    // change url with new last_gift_id or hide url when all gifts has been returned to page
    $(document).ready(function(){
        $('#show-more-gifts-link')
                .bind("ajax:success", function(evt, data, status, xhr){
                    // find id for last gift (nil or gift_id for last gift in table)
                    var link = document.getElementById("show-more-gifts-link") ;
                    if (!link) return ; // link has already been removed
                    var table = document.getElementById("gifts") ;
                    var trs = table.getElementsByTagName('tr') ;
                    var tr = trs[trs.length-1] ;
                    var tr_id = tr.id ;
                    alert('tr_id = ' + tr_id) ;
                    if (tr_id == "") {
                        alert('no more gifts - remove link') ;
                        link.parentNode.removeChild(link);
                        // todo: remove this event handler
                    }
                    else {
                        // change last_gift_id in link
                        var tr_id_a = tr_id.split("_") ;
                        var last_gift_id = tr_id_a[tr_id_a.length-1] ;
                        alert('last_gift_id = ' + last_gift_id) ;
                        link.href = "/gifts?last_gift_id=" + last_gift_id ;
                        bottom = false ;
                    }
                });
    }); // $(document).ready

    // check if user scrolls to end of page and get more gifts from server before user reaches end of page
    $(window).scroll(function(){
        if (bottom) return ;
        if (($(document).height() - $(window).height()) - $(window).scrollTop() < 600){
            bottom = true ;
            // alert("We're at the bottom of the page!!");
            var link = document.getElementById("show-more-gifts-link") ;
            if (!link) return ; // no more gifts - unregister this function
            // get more gifts from server
            link.click() ;
            // report any invalid api picture urls - url has changed or picture has been deleted
            // array with gift ids is initialized in img onload="check_api_picture_url ..."
            // submitted in 2 seconds to allow pictures in page to load
            // api_picture_url_on_error_at is set for pictures with invalid urls
            // picture urls are checked with api calls by current user and if necessary by picture owner at a later time
            setTimeout(report_missing_api_picture_urls, 2000) ;
        }
    }); // $(window).scroll

    // scroll to top of page after reload - only fetch newest 10 gifts after reload
    $(document).ready(function(){
        $(this).scrollTop(0);
    });

</script>
