<%= my_t '.page_header_text_html' %>

<table>
<%= render :partial => 'user', :locals => { :user => @user2 } %>
</table>

<p>
  <%= my_t (@user2.friend?(@user) ? '.top_text_friend_html' : '.top_text_non_friend_html'),
           :username => @user2.short_or_full_user_name(@user),
           :apiname => @user.api_name_without_brackets %>
</p>

<% if @user2.friend?(@user) and @gifts.size > 0 -%>
<table id="gifts" style="border-spacing: 0;">
  <%= render :partial => 'table_header_row' %>
  <%= render :partial => 'gifts' %>
</table>
<% end -%>
