<div style="width: 100%" id="share_accounts_div" title="<%= t '.title', :appname => APP_NAME %>">
  <br>
  <%= t '.lov_prompt' %>
  <%= select_tag :share_level_lov, options_for_select(share_levels(share_level), share_level),
                 :readonly => shared_accounts_disabled?, :disabled => shared_accounts_disabled?,
                 :onchange => 'share_accounts_ajax()' %>
  <% if [3,4].index(share_level) -%>
      &nbsp;
      <%= t '.offline_access_prompt' %>
      <%= check_box_tag "offline_access_checkbox", 1, offline_access?,
                        :readonly => shared_accounts_disabled?, :disabled => shared_accounts_disabled?,
                        :onchange => 'share_accounts_ajax()' %>
  <% end -%>
  <br>
  <%= t '.shared_accounts_prompt' %>
  <%= shared_accounts_list %>
  <br>
</div>

