<% friend = user_div.friend?(@users)
   div_title = '.title' + (friend ? '' : '_non') + '_friend'
   username = user_div.short_or_full_user_name(@users)
   balance = friend ? format_user_balance(user_div, @users) : nil
-%>
<div title="<%= t div_title, :username => username, :balance => balance, :apiname => provider_downcase(user_div.provider) %>"
     onclick="top.location.href = '<%= @page_header ? users_path(:friends => 'me') : url_for(user_div) %>'">
  <div><%= image_tag((user_div.api_profile_picture_url || 'no-picture.jpg'), :class => "#{@size ? @size : 'small'}_pro_pic", :alt => nil) %></div>
  <% if @page_header -%>
      <div class="user_div_name_and_api">
        <table>
          <tr>
            <td><%= h @user.short_user_name %></td>
          </tr>
          <tr>
            <td><%= @user.api_name_with_brackets %></td>
          </tr>
        </table>
      </div>
  <% end -%>
</div>