<% friend = user_div.friend?(@user)
   div_title = '.title' + (friend ? '' : '_non') + '_friend'
   username = user_div.short_or_full_user_name(@user)
   balance = friend ? format_user_balance(user_div, @user) : nil
-%>
<div title="<%= t div_title, :username => username, :balance => balance %>"
     onclick="top.location.href = '<%= url_for(user_div) %>'">
<% if @page_header -%>
      <table>
        <tr>
          <td rowspan="2">
<% end -%>
  <%= image_tag(user_div.profile_picture_url, :size => @size, :alt => nil)  %>
<% if @page_header -%>
          </td>
          <td><%= h @user.short_user_name %></td>
        </tr>
        <tr>
          <td><%= @user.api_name_with_brackets %></td>
        </tr>
      </table>
<% end -%>
</div>