<% for gift in @gifts do loop -%>
    <% giver = gift.giver ; receiver = gift.receiver -%>
    <tr style="vertical-align: top" id="<%= "gift-#{gift.id}" %>">
      <td>
        <% if gift.giver -%>
            <%= @user2 = gift.giver ; render '/shared/user_div' %>
        <% end -%>
      </td>
      <td>
        <% if gift.receiver -%>
            <%= @user2 = gift.receiver ; render '/shared/user_div' %>
        <% end -%>
      </td>
      <td>
        <%# remote form for new comment. Sent to comments/create. Inserted in gift-<gift.id>-comments table.
            Post ajax processing done in my.js / add_post_ajax_comment_handler -%>
        <% comment = Comment.new ; comment.gift_id = gift.gift_id ; comment.user_id = @user.user_id -%>
        <%= form_for comment, :remote => true, :html => { :id => "gift-#{gift.id}-new-comment-form" } do |f| %>
            <%= f.hidden_field :gift_id %>
            <table style="width: 100%">
              <tbody id='<%= "gift-#{gift.id}-comments" %>'>
                <tr>
                  <td style="width: 52px;"></td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2" style="height: 52px">
                    <%= link_to my_t('.gift_link_text', format_gift_param(gift)), url_for(gift), :title => (my_t '.gift_link_title') %>
                    <%= my_t('.gift_text_html', format_gift_param(gift)) %>
<% if gift.picture == 'Y' and !gift.api_picture_url_on_error_at -%>
                    <br /><br />
                    <%= image_tag gift.api_picture_url, :onload => "check_api_picture_url(#{gift.id}, this)" %>
<% end -%>
                  </td>
                </tr>
                <%= @gift = gift ; @comments = @gift.comments_with_filter(nil) ; render :partial => 'comments/comments3' %>
                <tr id='<%= "gift-#{gift.id}-add-new-comment-row" %>'>
                  <td style="vertical-align: top;"><%= @user2 = @user ; render '/shared/user_div' %></td>
                  <td>
                    <table>
                      <tr>
                        <td><%= f.text_area :comment, :size => '60x1', :placeholder => my_t('.enter_comment'), :onfocus => 'autoresize_text_field(this)', :id => "gift-#{gift.id}-new-comment-textarea" %></td>
                        <td><%= f.submit 'Gem', :onclick => "post_ajax_add_new_comment_handler(#{gift.id})" %></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
        <% end -%>
      </td>
    </tr>
    <tr><td colspan="3">&nbsp;</td></tr>
<% if @last_gift_id and gift.id == @gifts.last.id -%>
    <tr id='<%= "last_gift_id_#{gift.id}" %>'><td colspan="3">&nbsp;</td></tr>
<% else -%>
    <tr><td colspan="3">&nbsp;</td></tr>
<% end -%>
<% end -%>