<% for gift in @gifts do loop -%>
    <% giver = gift.giver ; receiver = gift.receiver -%>
    <tr style="vertical-align: top">
      <td>
        <% if gift.giver -%>
            <%= @user2 = gift.giver ; render '/shared/user_div' %>
        <% end -%>
      </td>
      <td>
        <% if gift.receiver -%>
            <%= @user2 = gift.receiver ; render '/shared/user_div' %>
        <% end -%>
      </td>
      <td>
        <% comment = Comment.new ; comment.gift_id = gift.gift_id ; comment.user_id = @user.user_id -%>
        <%= form_for comment, :remote => true do |f| %>
            <%= f.hidden_field :gift_id %>
            <table>
              <tbody id='<%= "gift-#{gift.id}-comments" %>'>
                <tr>
                  <td style="width: 52px;"></td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2" style="height: 52px">
                    <%= link_to my_t('.gift_link_text', format_gift_param(gift)), url_for(gift), :title => (my_t '.gift_link_title') %>
                    <%= my_t('.gift_text_html', format_gift_param(gift)) %>
                  </td>
                </tr>
                <%= @gift = gift ; render :partial => 'comments' %>
                <tr>
                  <td style="vertical-align: top;"><%= @user2 = @user ; render '/shared/user_div' %></td>
                  <td>
                    <table>
                      <tr>
                        <td><%= f.text_area :comment, :size => '60x1', :placeholder => my_t('.enter_comment'), :onfocus => 'autoresize_text_field(this)' %></td>
                        <td><div class="actions"><%= f.submit 'Gem' %></div></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
        <% end -%>
      </td>
    </tr>
    <tr><td colspan="4">&nbsp;</td></tr>
    <tr><td colspan="4">&nbsp;</td></tr>
<% end -%>