<% render_partial_with_language('gifts/index', 'init_texts') -%>
<% if !@user -%>
    <p>
      <%= output_text @not_logged_in_texts %>
    </p>
    <br />
<% elsif !@user.post_gift_allowed? -%>
    <p>
      <%= output_text @post_gift_not_allowed_texts %>
    </p>
    <%= link_to @request_post_gift_priv_link_text.find_usertype(@usertype), "javascript: {top.location.href='#{auth_post_gift_url}'}" %>
    <br />
<% else -%>
    <%= form_for @gift, :multipart => true, :html => { :enctype => 'multipart/form-data' } do |f| %>
        <table>
          <tr>
            <td colspan="3"><%= @create_gift_header_line %></td>
          </tr>
          <tr title="<%= output_text @price_title %>">
            <td><%= output_text @price_prompt %></td>
            <td colspan="2">
              <%= f.text_field(:price, :size=>10, :maxlength=>10) %>
              free
              <%= @user.currency %>
            </td>
          </tr>
          <tr title="<%= output_text @description_title %>">
            <td valign="top"><%= output_text @description_prompt %></td>
            <td><%= f.text_area(:description, :size => '60x8') %></td>
            <td><%= f.submit @gift_submit_button_text, :onclick => "return gifts_client_validations()" %></td>
          </tr>
          <tr title="<%= output_text @file_title %>">
            <td><%= output_text @file_prompt %></td>
            <td colspan="2"><%= file_field_tag(:gift_file) %></td>
          </tr>
        </table>
    <% end %>
<% end -%>

<script>
    // add page specific version of pre_update_currency function. That is confirm popup before leaving page with unsaved data.
    pending_gift_msg = '<%= @pending_gift_popup_msg %>' ;
    pre_update_currency = gifts_pre_update_currency ;

    // Use english texts in client side validations.
    csv_gifts_description_required = '<%= @description_required_text %>' ;
    csv_gifts_price_invalid = '<%= @price_invalid_text %>' ;
</script>