<br />
<% if @user -%>
    <%= form_for @gift, :multipart => true do |f| %>
        <table>
          <tr>
            <td colspan="2">Hjælp hinanden og miljøet. Del jeres resourcer. Giv, lån/lej ud, sælg.</td>
            <td rowspan="4" valign="middle"><%= f.submit 'Opret opslag' %></td>
          </tr>
          <tr title="Pris. Valgfri. Kan sættes nu eller senere. Kan sættes af giver/sælger eller modtager/køber. Det mest idealistiske er at modtager/køber sætter pris. Der anvendes frie virtuelle nationale penge herinde. Dvs. frie penge med en negativ rente. Formålet med den negative rente er at sikre at de frie penge cirkulerer og resourcer udveksles. Ingen grund til at holde på pengene når deres værdi forringes over tid. Og ingen bundløs gæld da gæld ligeledes bliver mindre over tid.">
            <td>Pris:</td>
            <td>
               <%= f.text_field(:price, :size=>10, :maxlength=>10, :onblur=>"gifts_index_disabled_user_currency()") %>
               frie
               <%= @user.currency_with_text %>
            </td>
          </tr>
          <tr title="Tekst. Skal udfyldes. Beskriv det du tilbyder hvad enten det er ting eller hjælp. Du bestemmer selv om du vil sælge, udleje, udlåne eller forære ting væk gratis. Da der handles i virtuelle frie penge forærer man i praksis altid ting væk, men ens saldo i frie penge vokser. Opslag laves på din væg og vises til dine venner eller hvem du har valgt skal se opslag fra denne app. Dine venner kan kommenterer dit opslag på din væg. Aftalen bør sluttes herinde så din saldo i frie penge opdateres">
            <td valign="top">Tekst:</td>
            <td><%= f.text_area(:description, :size => '60x8', :onblur=>"gifts_index_disabled_user_currency()") %></td>
          </tr>
          <tr title="Vedlæg gerne et foto af det som du deler. Billeder er en effektiv måde at blive set på af ens venner">
            <td>Vedlæg:</td>
            <td><%= file_field_tag(:gift_file, :onblur=>"gifts_index_disabled_user_currency()") %></td>
          </tr>
        </table>
    <% end %>
<% else -%>
  Du er ikke logget ind og der kan ikke oprettes nye opslag.<br />
<% end -%>

<script type="text/javascript">
  // freeze/unfreeze currency list box.
  onload = function () { gifts_index_disabled_user_currency() }
</script>