<%= hidden_field_tag :newest_gift_id, @newest_gift_id, :id => "newest-gift-id" %>
<%= hidden_field_tag :newest_status_update_at, @newest_status_update_at, :id => "newest-status-update-at" %>


<script>
    last_user_ajax_comment_at = null;
    <%=
      # recheck invalid picture urls with owner permissions
      @missing_api_picture_urls
    %>
</script>

<% #noinspection RubyResolve
   if !@user -%>
    <p>
      <%= t '.not_logged_in_text' %>
    </p>
<% else -%>
    <% if !@user.post_gift_allowed? -%>
        <p title="<%= t '.post_gift_not_allowed_title', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>">
          <%= t '.post_gift_not_allowed_text', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %><br/>
          <%= link_to t('.request_post_gift_priv_link_text', :appname => APP_NAME), "javascript: {top.location.href='#{auth_post_gift_url}'}" %>
        </p>
    <% elsif flash[:read_stream] -%>
        <p title="<%= t '.read_stream_not_allowed_title', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>">
          <%= t '.read_stream_not_allowed_text', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>
          <br/>
          <%= link_to t('.request_read_stream_priv_link_text', :appname => APP_NAME), "javascript: {top.location.href='#{auth_read_stream_url}'}" %>
        </p>
    <% end -%>
    <div style="width: 100%"><%= t '.create_gift_header_line' %></div>
    <div style="width: 100%">
      <%= form_for @gift, :html => {:enctype => 'multipart/form-data', :id => 'new_gift' } do |f| -%>
          <table>
            <tr title="<%= t '.price_title', :min_interest => NEG_INT_POS_BALANCE_PER_YEAR, :max_interest => NEG_INT_NEG_BALANCE_PER_YEAR %>">
              <td><%= t '.price_prompt' %></td>
              <td>
                <%= f.text_field(:price, :size => 10, :maxlength => 10) %>
                <%= t '.price_free' %>
                <%= @user.currency %>
                &nbsp;&nbsp;&nbsp;
                <div style="text-wrap: none">
                <%= t '.direction_giver_prompt' %> <%= f.radio_button :direction, 'giver' %>&nbsp;&nbsp;
                <%= t '.direction_receiver_prompt' %> <%= f.radio_button :direction, 'receiver' %>
                </div>
              </td>
            </tr>
            <tr title="<%= t '.description_title' %>">
              <td style="vertical-align: top"><%= t '.description_prompt' %></td>
              <td><%= f.text_area :description, :size => '60x2', :placeholder => 'Enter Comments', :onfocus => 'autoresize_text_field(this)', :class => 'new_gift_text' %>
                  <%= f.submit t('.gift_submit_button_text'), :onclick => '{return csv_gift()}', :class => 'submit_gift_large' %></td>
            </tr>
            <tr title="<%= t ".file_title_#{@user.post_gift_allowed?}", :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>">
              <td>
                <div class="fileupload bottom">
                  <%= t '.file_prompt' %>
                  <%= file_field_tag :gift_file, :disabled => !@user.post_gift_allowed?, :id => "uploadBtn", :class => "upload",
                                     :onchange => '{document.getElementById("uploadFile").value = this.value}' %>
                </div>
              </td>
              <td>
                <%= text_field_tag '', '', :id => "uploadFile", :placeholder => "Choose File", :disabled => "disabled", :style =>"line-height:16px;" %>
              </td>
            </tr>
            <tr class="submit_gift_small">
              <td></td>
              <td><%= f.submit t('.gift_submit_button_text'), :onclick => '{return csv_gift()}' %></td>
            </tr>
          </table>
      <% end # form  -%>
    </div>
    <div class="demo-wrapper html5-progress-bar" id="progressbar-div" style="display: none">
      <div class="progress-bar-wrapper">
        <progress id="progressbar" value="0" max="100"></progress>
        <span class="progress-value">0%</span>
      </div>
    </div>
    <div style="width: 100%">
      <hr>
    </div>

    <div style="width: 100%">
    <% if @gifts.size == 0 -%>
        <p>
          <%= t '.no_gifts_was_found_html', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>
        </p>
        <%= t 'shared.invite_friends.invite_api_friends_link_prompt1', :apiname => @user.api_name_without_brackets %> <%= invite_friends_link1 %>
    <% else -%>
        <table id="gifts" style="border-spacing: 0;">
          <%= render :partial => 'table_header_row' %>
          <%= render :partial => 'gifts' %>
        </table>
    <% end -%>
    </div>

<% end -%>

<br/>

<%#
    submit new gift with file upload
-%>
<script>
    document.getElementById('new_gift').action = '/gifts.js' ;
    $(document).ready(function() {
        // bind 'myForm' and provide a simple callback function
        // http://malsup.com/jquery/form/#options-object
        $('#new_gift').ajaxForm({
                beforeSubmit: function(formData, jqForm, options) {
                    <% if debug_ajax? -%>add_to_debug_log('#new_gift.beforeSubmit');<% end -%>
                },
                success: function(responseText, statusText, xhr, $form) {
                    <% if debug_ajax? -%>add_to_debug_log('#new_gift.success');<% end -%>
                    document.getElementById('progressbar-div').style.display = 'none';
                    var gift_price = document.getElementById('gift_price') ;
                    if (gift_price) gift_price.value = '' ;
                    var gift_description = document.getElementById('gift_description') ;
                    if (gift_description) gift_description.value = '' ;
                    var gift_file = document.getElementById('gift_file');
                    if (gift_file) gift_file.value = '' ;
                    var uploadFile = document.getElementById('uploadFile') ;
                    if (uploadFile) uploadFile.value = '' ;
                },
                error: function(jqxhr, textStatus, errorThrown ) {
                    document.getElementById('progressbar-div').style.display = 'none';
                    <% if debug_ajax? -%>add_to_debug_log('#new_gift.error');<% end -%>
                    <% if debug_ajax? -%>add_to_debug_log('jqxhr = ' + jqxhr);<% end -%>
                    <% if debug_ajax? -%>add_to_debug_log('textStatus = ' + textStatus);<% end -%>
                    <% if debug_ajax? -%>add_to_debug_log('errorThrown = ' + errorThrown);<% end -%>
                    add_to_ajax_tasks_errors('new_form.ajaxform.error: ' + errorThrown) ;
                }
        });
    });

</script>

<%# add remote link to get more rows and call javascript to setup end of page event and post ajax handling of the new rows. set DEBUG_AJAX to true in initializers/constraints.rb to get more ajax debug information -%>
<%= link_to "show-more-rows", "/gifts?last_row_id=#{@last_row_id}", :remote => true, :id => "show-more-rows-link", :style => "display: none" %>
<%= render :partial => 'shared/show_more_rows', :locals => {:show_more_rows => 'gifts'} %>

<script>
    // add page specific version of pre_update_currency function.
    // That is confirm popup before leaving page with unsaved data.
    pending_gift_msg = '<%= t '.pending_gift_popup_msg' %>';
    pre_update_currency = gifts_pre_update_currency;

    // Translate texts used in client side validations.
    csv_gift_description_required = '<%= t '.description_required_text' %>';
    csv_gift_price_invalid = '<%= t '.price_invalid_text' %>';
    csv_comment_comment_required = '<%= t '.comment_comment_required_text' %>';
    csv_comment_price_invalid = '<%= t '.comment_price_invalid_text' %>';
</script>



