<script>
<%= # recheck invalid picture urls with owner permissions
    @missing_api_picture_urls %>
</script>

<% #noinspection RubyResolve
   if !@user -%>
    <p>
      <%= my_t '.not_logged_in_text' %>
    </p>
<% else -%>
    <% if !@user.post_gift_allowed? -%>
        <p title="<%= my_t '.post_gift_not_allowed_title', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>">
          <%= my_t '.post_gift_not_allowed_text', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %><br />
          <%= link_to my_t('.request_post_gift_priv_link_text', :appname => APP_NAME), "javascript: {top.location.href='#{auth_post_gift_url}'}" %>
        </p>
    <% elsif flash[:read_stream] -%>
        <p title="<%= my_t '.read_stream_not_allowed_title', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>">
          <%= my_t '.read_stream_not_allowed_text', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %><br />
          <%= link_to my_t('.request_read_stream_priv_link_text', :appname => APP_NAME), "javascript: {top.location.href='#{auth_read_stream_url}'}" %>
        </p>
    <% end -%>
    <%= form_for @gift, :multipart => true, :html => { :enctype => 'multipart/form-data' } do |f| %>
        <table>
          <tr>
            <td colspan="3"><%= my_t '.create_gift_header_line' %></td>
          </tr>
          <tr title="<%= my_t '.price_title' %>">
            <td><%= my_t '.price_prompt' %></td>
            <td colspan="2">
              <%= f.text_field(:price, :size=>10, :maxlength=>10) %>
              <%= my_t '.price_free' %>
              <%= @user.currency %>
              &nbsp;&nbsp;&nbsp;
              <%= my_t '.direction_giver_prompt' %> <%= f.radio_button :direction, 'giver' %>
              <%= my_t '.direction_receiver_prompt' %> <%= f.radio_button :direction, 'receiver' %>
            </td>
          </tr>
          <tr title="<%= my_t '.description_title' %>">
            <td style="vertical-align: top"><%= my_t '.description_prompt' %></td>
            <td><%= f.text_area :description, :size => '60x2', :placeholder => 'Enter Comments', :onfocus => 'autoresize_text_field(this)' %></td>
            <td><%= f.submit my_t('.gift_submit_button_text'), :onclick => '{return gifts_client_validations()}' %></td>
          </tr>
          <tr title="<%= my_t ".file_title_#{@user.post_gift_allowed?}", :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>">
            <td><%= my_t '.file_prompt' %></td>
            <td colspan="2"><%= file_field_tag(:gift_file, :disabled => !@user.post_gift_allowed?) %></td>
          </tr>
        </table>
    <% end %>
<% end -%>

<% if @gifts.size == 0 -%>
    <p>
      <%= my_t '.no_gifts_was_found' %>
    </p>
<% else -%>
    <br />
    <table>
      <tr style="vertical-align: bottom">
        <th style="width: 52px; text-align: center"><%= my_t '.giver_column_heading_html' %></th>
        <th style="width: 52px; text-align: center"><%= my_t '.receiver_column_heading_html' %></th>
        <th style="width: 52px;"></th>
        <th><%= my_t '.link_and_text_column_heading_html' %></th>
      </tr>
        <%= render :partial => 'gifts' %>
    </table>
    <%= will_paginate @gifts %>
<% end -%>

<script>
    // add page specific version of pre_update_currency function. That is confirm popup before leaving page with unsaved data.
    pending_gift_msg = '<%= my_t '.pending_gift_popup_msg' %>' ;
    pre_update_currency = gifts_pre_update_currency ;

    // Use english texts in client side validations.
    csv_gifts_description_required = '<%= my_t '.description_required_text' %>' ;
    csv_gifts_price_invalid = '<%= my_t '.price_invalid_text' %>' ;

    // report any invalid api picture urls - url has changed or picture has been deleted
    // array with gift ids is initialized in img onload="check_api_picture_url ..."
    // submitted in 2 seconds to allow pictures to load
    setTimeout(report_missing_api_picture_urls, 2000) ;
</script>