<% #noinspection RubyResolve
   if !@user -%>
    <p>
      <%= my_t '.not_logged_in_text' %>
    </p>
<% else -%>
    <% unless @user.post_gift_allowed? -%>
        <p title="<%= my_t '.post_gift_not_allowed_title', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>">
          <%= my_t '.post_gift_not_allowed_text', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %><br />
          <%= link_to my_t('.request_post_gift_priv_link_text', :appname => APP_NAME), "javascript: {top.location.href='#{auth_post_gift_url}'}" %>
        </p>
    <% end -%>
    <%= form_for @gift, :multipart => true, :html => { :enctype => 'multipart/form-data' } do |f| %>
        <table>
          <tr>
            <td colspan="3"><%= my_t '.create_gift_header_line' %></td>
          </tr>
          <tr title="<%= my_t '.price_title' %>">
            <td><%= my_t '.price_prompt' %></td>
            <td colspan="2">
              <%= f.text_field(:price, :size=>10, :maxlength=>10) %>
              <%= my_t '.price_free' %>
              <%= @user.currency %>
              &nbsp;&nbsp;&nbsp;
              <%= my_t '.direction_giver_prompt' %> <%= f.radio_button :direction, 'giver' %>
              <%= my_t '.direction_receiver_prompt' %> <%= f.radio_button :direction, 'receiver' %>
            </td>
          </tr>
          <tr title="<%= my_t '.description_title' %>">
            <td style="vertical-align: top"><%= my_t '.description_prompt' %></td>
            <td><%= f.text_area(:description, :size => '60x8') %></td>
            <td><%= f.submit my_t('.gift_submit_button_text'), :onclick => '{return gifts_client_validations()}' %></td>
          </tr>
          <tr title="<%= my_t '.file_title' %>">
            <td><%= my_t '.file_prompt' %></td>
            <td colspan="2"><%= file_field_tag(:gift_file) %></td>
          </tr>
        </table>
    <% end %>
<% end -%>

<% if @gifts.size == 0 -%>
    <p>
      <%= my_t '.no_gifts_was_found' %>
    </p>
<% else -%>
    <br />
    <table>
      <tr style="vertical-align: bottom">
        <th style="text-align: center"><%= my_t '.giver_column_heading_html' %></th>
        <th style="text-align: center"><%= my_t '.receiver_column_heading_html' %></th>
        <th><%= my_t '.received_at_column_heading_html' %></th>
        <th>&nbsp;&nbsp;</th>
        <th style="text-align: right"><%= my_t '.price_column_heading_html' %></th>
<% if false -%>
        <th><%= my_t '.new_price_column_heading_html' %></th>
        <th style="text-align: right"><%= my_t '.balance_column_heading_html' %></th>
<% end -%>
        <th>&nbsp;&nbsp;</th>
        <th style="text-align: left"><%= my_t '.description_prompt' %></th>
      </tr>
        <% for gift in @gifts do loop -%>
          <% giver = gift.giver ; receiver = gift.receiver -%>
          <tr>
            <td>
<% if gift.giver -%>
    <%= @user2 = gift.giver ; render '/shared/user_div' %>
<% end -%>
            </td>
            <td>
<% if gift.receiver -%>
    <%= @user2 = gift.receiver ; render '/shared/user_div' %>
<% end -%>
            </td>
            <td><%= link_to l((gift.received_at || gift.created_at), format: :short), url_for(gift), :title => (my_t '.gift_link_title') %></td>
            <td></td>
            <td style="text-align: right"><%= "#{format_price(gift.price)} #{gift.currency}" if gift.price %></td>
<% if false -%>
            <td><%= format_price gift.new_price %></td>
            <td style="text-align: right"><%= format_price gift.balance(@user.user_id) %></td>
<% end -%>
            <td></td>
            <td><%= format_direction gift %> <%= format_gift_description gift %></td>
          </tr>
        <% end -%>
    </table>
    <%= will_paginate @gifts %>
<% end -%>

<script>
    // add page specific version of pre_update_currency function. That is confirm popup before leaving page with unsaved data.
    pending_gift_msg = '<%= my_t '.pending_gift_popup_msg' %>' ;
    pre_update_currency = gifts_pre_update_currency ;

    // Use english texts in client side validations.
    csv_gifts_description_required = '<%= my_t '.description_required_text' %>' ;
    csv_gifts_price_invalid = '<%= my_t '.price_invalid_text' %>' ;
</script>