<script>
<%= # recheck invalid picture urls with owner permissions
    @missing_api_picture_urls %>
</script>

<% #noinspection RubyResolve
   if !@user -%>
    <p>
      <%= my_t '.not_logged_in_text' %>
    </p>
<% else -%>
    <% if !@user.post_gift_allowed? -%>
        <p title="<%= my_t '.post_gift_not_allowed_title', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>">
          <%= my_t '.post_gift_not_allowed_text', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %><br />
          <%= link_to my_t('.request_post_gift_priv_link_text', :appname => APP_NAME), "javascript: {top.location.href='#{auth_post_gift_url}'}" %>
        </p>
    <% elsif flash[:read_stream] -%>
        <p title="<%= my_t '.read_stream_not_allowed_title', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>">
          <%= my_t '.read_stream_not_allowed_text', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %><br />
          <%= link_to my_t('.request_read_stream_priv_link_text', :appname => APP_NAME), "javascript: {top.location.href='#{auth_read_stream_url}'}" %>
        </p>
    <% end -%>
    <%= form_for @gift, :multipart => true, :html => { :enctype => 'multipart/form-data' } do |f| %>
        <table>
          <tr>
            <td colspan="3"><%= my_t '.create_gift_header_line' %></td>
          </tr>
          <tr title="<%= my_t '.price_title' %>">
            <td><%= my_t '.price_prompt' %></td>
            <td colspan="2">
              <%= f.text_field(:price, :size=>10, :maxlength=>10) %>
              <%= my_t '.price_free' %>
              <%= @user.currency %>
              &nbsp;&nbsp;&nbsp;
              <%= my_t '.direction_giver_prompt' %> <%= f.radio_button :direction, 'giver' %>
              <%= my_t '.direction_receiver_prompt' %> <%= f.radio_button :direction, 'receiver' %>
            </td>
          </tr>
          <tr title="<%= my_t '.description_title' %>">
            <td style="vertical-align: top"><%= my_t '.description_prompt' %></td>
            <td><%= f.text_area :description, :size => '60x2', :placeholder => 'Enter Comments', :onfocus => 'autoresize_text_field(this)' %></td>
            <td><%= f.submit my_t('.gift_submit_button_text'), :onclick => '{return gifts_client_validations()}' %></td>
          </tr>
          <tr title="<%= my_t ".file_title_#{@user.post_gift_allowed?}", :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>">
            <td><%= my_t '.file_prompt' %></td>
            <td colspan="2"><%= file_field_tag(:gift_file, :disabled => !@user.post_gift_allowed?) %></td>
          </tr>
        </table>
    <% end %>
<% end -%>

<% if @gifts.size == 0 -%>
    <p>
      <%= my_t '.no_gifts_was_found' %>
    </p>
<% else -%>
    <br />
    <table>
      <tr style="vertical-align: bottom;">
        <th style="width: 52px; text-align: center"><%= my_t '.giver_column_heading_html' %></th>
        <th style="width: 52px; text-align: center"><%= my_t '.receiver_column_heading_html' %></th>
        <th><%= my_t '.link_and_text_column_heading_html' %></th>
      </tr>
        <%= render :partial => 'gifts' %>
    </table>
    <%= will_paginate @gifts %>
<% end -%>

<script>
    // add page specific version of pre_update_currency function. That is confirm popup before leaving page with unsaved data.
    pending_gift_msg = '<%= my_t '.pending_gift_popup_msg' %>' ;
    pre_update_currency = gifts_pre_update_currency ;

    // Use english texts in client side validations.
    csv_gifts_description_required = '<%= my_t '.description_required_text' %>' ;
    csv_gifts_price_invalid = '<%= my_t '.price_invalid_text' %>' ;

    // report any invalid api picture urls - url has changed or picture has been deleted
    // array with gift ids is initialized in img onload="check_api_picture_url ..."
    // submitted in 2 seconds to allow pictures to load
    setTimeout(report_missing_api_picture_urls, 2000) ;
</script>

<!--
<script>
    $(document).ready(function(){

        $('#gift-211-new-comment-form')
                .bind("ajax:beforeSend", function(evt, xhr, settings){
                    alert('ajax:beforeSend')
                    var $submitButton = $(this).find('input[name="commit"]');

                    // Update the text of the submit button to let the user know stuff is happening.
                    // But first, store the original text of the submit button, so it can be restored when the request is finished.
                    $submitButton.data( 'origText', $(this).text() );
                    $submitButton.text( "Submitting..." );

                })
                .bind("ajax:success", function(evt, data, status, xhr){
                    alert('ajax:scccess. evt=' + ', data=' + data + ', status =' + status + ', xhr=' + xhr);
                    var $form = $(this);

                    // Reset fields and any validation errors, so form can be used again, but leave hidden_field values intact.
                    $form.find('textarea,input[type="text"],input[type="file"]').val("");
                    $form.find('div.validation-error').empty();

                    // Insert response partial into page below the form.
                    $('#comments').append(xhr.responseText);

                })
                .bind('ajax:complete', function(evt, xhr, status){
                    alert('ajax:complete')
                    var $submitButton = $(this).find('input[name="commit"]');

                    // Restore the original submit button text
                    $submitButton.text( $(this).data('origText') );
                })
                .bind("ajax:error", function(evt, xhr, status, error){
                    alert('ajax:error')
                    var $form = $(this),
                            errors,
                            errorText;

                    try {
                        // Populate errorText with the comment errors
                        errors = $.parseJSON(xhr.responseText);
                    } catch(err) {
                        // If the responseText is not valid JSON (like if a 500 exception was thrown), populate errors with a generic error message.
                        errors = {message: "Please reload the page and try again"};
                    }

                    // Build an unordered list from the list of errors
                    errorText = "There were errors with the submission: \n<ul>";

                    for ( error in errors ) {
                        errorText += "<li>" + error + ': ' + errors[error] + "</li> ";
                    }

                    errorText += "</ul>";

                    // Insert error list into form
                    $form.find('div.validation-error').html(errorText);
                });

    });
</script>
-->
