<%= hidden_field_tag :newest_gift_id, @newest_gift_id, :id => "newest-gift-id" %>
<%= hidden_field_tag :newest_status_update_at, @newest_status_update_at, :id => "newest-status-update-at" %>

<script>
    last_user_ajax_comment_at = null;
    <%=
      # recheck invalid picture urls with owner permissions
      @missing_api_picture_urls
    %>
</script>

<a href="#" id="share_gift" style="display: none">share gift</a>

<script>
  // get deep link for share gift from server
  // returns ajax error message or calls share_gift
  function get_share_gift_link (self) {
      var pgm = 'get_share_gift_link: ' ;
      if (self.value == '') return ;
      // alert('self.value = ' + self.value + ', self.id = ' + self.id) ;
      var gift_id = self.id.split('_')[2] ;
      // send share gift request to server. Returns link or an error message
      $.ajax({
          url: "/util/share_gift.js",
          type: "POST",
          dataType: 'script',
          data: { provider: self.value, gift_id: gift_id },
          error: function (jqxhr, textStatus, errorThrown) {
              if (leaving_page) return ;
              var pgm = pgm + '.error: ' ;
              var err = add2log_ajax_error('share_gift.ajax.error: ', jqxhr, textStatus, errorThrown) ;
              alert(err);
              // add_to_tasks_errors(I18n.t('js.missing_api_picture_urls.ajax_error', {error: err, location: 7, debug: 0})) ;
          }
      });
  } // get_share_gift_link

  // get text/description for share gift link from gifts/index page
  function get_share_gift_text (gift_id) {
    var div_id = "gift-" + gift_id + "-overflow-text" ;
    var div = document.getElementById(div_id) ;
    var text ;
    if (div) {
        text = div.innerHTML ;
        var pos = text.indexOf('</a>','\n') ;
        text = text.substr(pos+4) ;
    }
    else text = document.title ;
    text = text.trim().substr(2) ; // remove :
    text = text.replace(/\s*<br>\s*/g,'\n') ; // replace <br> with newline
    return text ;
  } // get_gift_text

  // get image for share gift link from gifts/index page
  function get_share_gift_image_url(gift_id) {
      var image_id = "gift-" + gift_id + "-image";
      var image = document.getElementById(image_id);
      var image_url;
      if (image) image_url = image.src;
      else image_url = '/images/sacred-economics.jpg';
      if (image_url.substr(0,1) == '/') {
          // add protocol and domain to image url
          var url = window.location.href ;
          var url_a = url.split('/') ;
          var domain = url_a[0] + '//' + url_a[2] ;
          image_url = domain + image_url ;
      }
      return image_url ;
  } // get_share_gift_image_url

  // callback for share gift / get_share_gift_link
  function share_gift(provider, gift_id, link, max_lng, extra) {
      var pgm = 'share_gift: ';
      // alert(pgm + 'provider = ' + provider + ', gift_id = ' + gift_id + ', link = ' + link + ', extra = ' + extra) ;
      var share_gift = document.getElementById('share_gift');
      if (!share_gift) return; // share gift link was not found
      share_gift.target = '_blank';
      // make share gift link. Use I18n.t. Setup translation
      // todo: tumblr - split text in name and description (https://www.tumblr.com/share/link?url=%{link}&name=%{name}&description=%{description}
      var key, text, api_id, redirect_url, image, href ;
      key = 'js.share_gift.' + provider ;
      if (provider == 'twitter') text = extra ; // special server side text truncation (preserve tags)
      else if (max_lng == -1) text = '' ; // text not used
      else {
          text = get_share_gift_text(gift_id) ;
          if ((max_lng > 0) && (text.length > max_lng)) text = text.substr(0, max_lng) ;
      }
      // api_id - only facebook
      if (['facebook'].indexOf(provider) != -1) api_id = extra ;
      // redirect_url - only facebook
      if (['facebook'].indexOf(provider) != -1) {
          redirect_uri = window.location.href ;
          var pos = redirect_uri.indexOf('?') ;
          if (pos != -1) redirect_uri = redirect_uri.substr(0,pos) ;
          redirect_uri = redirect_uri + '?share_gift=facebook' ;
      }
      // image - only pinterest
      if (['pinterest'].indexOf(provider) != -1) image = get_share_gift_image_url(gift_id) ;
      // translate
      href = I18n.t(key, {link        : encodeURIComponent(link),
                          text        : encodeURIComponent(text),
                          api_id      : encodeURIComponent(api_id),
                          redirect_url: encodeURIComponent(redirect_url),
                          image       : encodeURIComponent(image)}) ;
      // check translation
      if (!href.match(/^https?:\/\//)) {
          alert(href) ;
          return ;
      }
      share_gift.href = href ;
      share_gift.target = '_blank';
      if (['facebook'].indexOf(provider) != -1) share_gift.target = '' ;
      alert('key = ' + key + ', href = ' + href) ;
      share_gift.click() ;
      return ;
  } // share_gift
</script>

<%# create new gift form -%>
<div style="width: 100%"><%= t '.create_gift_header_line' %></div>
<div style="width: 100%">
  <%= form_for @gift, :html => {:enctype => 'multipart/form-data', :id => 'new_gift'}, :data => { :type => :script }, :format => :js do |f| -%>
      <table>
        <tr title="<%= t '.price_title', :min_interest => NEG_INT_POS_BALANCE_PER_YEAR, :max_interest => NEG_INT_NEG_BALANCE_PER_YEAR %>">
          <td><%= t '.price_prompt' %></td>
          <td>
            <%= f.text_field(:price, :size => 10, :maxlength => 10) %>
            <%= t '.price_free' %>
            <%= @users.first.currency %>
            &nbsp;&nbsp;&nbsp;
            <div style="text-wrap: none">
              <%= t '.direction_giver_prompt' %> <%= f.radio_button :direction, 'giver' %>&nbsp;&nbsp;
              <%= t '.direction_receiver_prompt' %> <%= f.radio_button :direction, 'receiver' %>
            </div>
          </td>
        </tr>
        <tr title="<%= t '.description_title' %>">
          <td style="vertical-align: top"><%= t '.description_prompt' %></td>
          <td><%= f.text_area :description, :size => '60x2', :placeholder => 'Enter Comments', :onfocus => 'autoresize_text_field(this)', :class => 'new_gift_text' %>
            <%= f.submit t('.gift_submit_button_text'), :onclick => '{return csv_gift()}', :name => 'commit_gift', :class => 'submit_gift_large' %></td>
        </tr>
        <tr title="<%= t ".file_title_#{post_image_allowed?()}", :appname => APP_NAME %>">
          <td>
            <div class="fileupload bottom">
              <%= t '.file_prompt' %>
              <%= file_field_tag :gift_file, :disabled => !post_image_allowed?(), :id => "gift_file", :class => "upload",
                                 :onchange => '{document.getElementById("disp_gift_file").value = this.value}' %>
            </div>
          </td>
          <td>
            <%= text_field_tag '', '', :id => "disp_gift_file", :placeholder => "Choose File", :disabled => "disabled", :style => "line-height:16px;" %>
          </td>
        </tr>
        <tr class="submit_gift_small">
          <td></td>
          <td><%= f.submit t('.gift_submit_button_text'), :onclick => '{return csv_gift()}', :name => 'commit_gift' %></td>
        </tr>
      </table>
  <% end # form   -%>
</div>
<%# Modernizr.progressbar is required -%>
<div class="demo-wrapper html5-progress-bar" id="progressbar-div" style="display: none">
  <div class="progress-bar-wrapper">
    <progress id="progressbar" value="0" max="100"></progress>
    <span class="progress-value">0%</span>
  </div>
</div>
<div style="width: 100%">
  <hr>
</div>

<%# special messages to new users how to get started -%>
<% if @api_gifts.size == 0
     hr = true
-%>
    <div id="no-gifts-div" style="width: 100%">
      <%= t '.no_gifts_was_found_html', :appname => APP_NAME %>
    </div>
<% end -%>
<% if User.no_app_friends(@users) == 0 -%>
    <%= hr = true ; render :partial => 'shared/no_app_friends' %>
<% end -%>
<% if hr -%>
    <div style="width: 100%">
      <hr>
    </div>
<% end -%>

<%# gifts table -%>
<div style="width: 100%">
  <table  id="gifts" style="table-layout:fixed; <%= 'display: none; ' if @api_gifts.size == 0  %>">
    <thead>
    <%= render :partial => 'table_header_row' %>
    </thead>
    <tbody id="gifts_tbody">
    <%= render :partial => 'api_gifts' %>
    </tbody>
    <tfoot>
    <tr id="show-more-rows-spinner">
      <td colspan="4">
        <img src="/images/ajax-loading-64.gif"/>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <table>
          <tbody id='show-more-rows-errors' class="ajax_errors">
          </tbody>
        </table>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
<br/>

<%# add remote link to get more rows and call javascript to setup end of page event and post ajax handling of the new rows. set DEBUG_AJAX to true in initializers/constraints.rb to get more ajax debug information -%>
<%= link_to "show-more-rows", "/gifts?last_row_id=#{@last_row_id}",
            :remote => true, :data => { :type => :script }, :format => :js,
            :id => "show-more-rows-link", :style => "display: none" %>
<%= render :partial => 'shared/show_more_rows', :locals => {:show_more_rows => 'gifts'} %>

<script>
    // add page specific version of pre_update_currency function.
    // That is confirm popup before leaving page with unsaved data.
    pending_gift_msg = '<%= t '.pending_gift_popup_msg' %>';
    pre_update_currency = gifts_pre_update_currency;
</script>
