<%= hidden_field_tag :newest_gift_id, @newest_gift_id, :id => "newest-gift-id" %>
<%= hidden_field_tag :newest_status_update_at, @newest_status_update_at, :id => "newest-status-update-at" %>

<script>
    last_user_ajax_comment_at = null;
    <%=
      # recheck invalid picture urls with owner permissions
      @missing_api_picture_urls
    %>
</script>

<%# hidden table with links to grant write access to api walls %>
<table id="hidden_tasks_errors" style="display:none">
<%= render :partial => 'shared/translate_ajax_errors' %>
</table>

<%# create new gift form -%>
<div style="width: 100%"><%= t '.create_gift_header_line' %></div>
<div style="width: 100%">
  <%= form_for @gift, :html => {:enctype => 'multipart/form-data', :id => 'new_gift'} do |f| -%>
      <table>
        <tr title="<%= t '.price_title', :min_interest => NEG_INT_POS_BALANCE_PER_YEAR, :max_interest => NEG_INT_NEG_BALANCE_PER_YEAR %>">
          <td><%= t '.price_prompt' %></td>
          <td>
            <%= f.text_field(:price, :size => 10, :maxlength => 10) %>
            <%= t '.price_free' %>
            <%= @user.currency %>
            &nbsp;&nbsp;&nbsp;
            <div style="text-wrap: none">
              <%= t '.direction_giver_prompt' %> <%= f.radio_button :direction, 'giver' %>&nbsp;&nbsp;
              <%= t '.direction_receiver_prompt' %> <%= f.radio_button :direction, 'receiver' %>
            </div>
          </td>
        </tr>
        <tr title="<%= t '.description_title' %>">
          <td style="vertical-align: top"><%= t '.description_prompt' %></td>
          <td><%= f.text_area :description, :size => '60x2', :placeholder => 'Enter Comments', :onfocus => 'autoresize_text_field(this)', :class => 'new_gift_text' %>
            <%= f.submit t('.gift_submit_button_text'), :onclick => '{return csv_gift()}', :class => 'submit_gift_large' %></td>
        </tr>
        <tr title="<%= t ".file_title_#{User.post_image_allowed?(@users)}", :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>">
          <td>
            <div class="fileupload bottom">
              <%= t '.file_prompt' %>
              <%= file_field_tag :gift_file, :disabled => !User.post_image_allowed?(@users), :id => "gift_file", :class => "upload",
                                 :onchange => '{document.getElementById("disp_gift_file").value = this.value}' %>
            </div>
          </td>
          <td>
            <%= text_field_tag '', '', :id => "disp_gift_file", :placeholder => "Choose File", :disabled => "disabled", :style => "line-height:16px;" %>
          </td>
        </tr>
        <tr class="submit_gift_small">
          <td></td>
          <td><%= f.submit t('.gift_submit_button_text'), :onclick => '{return csv_gift()}' %></td>
        </tr>
      </table>
  <% end # form   -%>
</div>
<div class="demo-wrapper html5-progress-bar" id="progressbar-div" style="display: none">
  <div class="progress-bar-wrapper">
    <progress id="progressbar" value="0" max="100"></progress>
    <span class="progress-value">0%</span>
  </div>
</div>
<div style="width: 100%">
  <hr>
</div>

<%# special messages to new users how to get started -%>
<% if @api_gifts.size == 0
     hr = true
-%>
    <div id="no-gifts-div" style="width: 100%">
      <%= t '.no_gifts_was_found_html', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>
    </div>
<% end -%>
<% if User.no_app_friends(@users) == 0 -%>
    <%= hr = true ; render :partial => 'shared/no_app_friends' %>
<% end -%>
<% if hr -%>
    <div style="width: 100%">
      <hr>
    </div>
<% end -%>

<%# gifts table -%>
<div style="width: 100%">
<table id="gifts" style="display: <%= @api_gifts.size == 0 ? 'none' : 'inline' %>">
  <%= render :partial => 'table_header_row' %>
  <%= render :partial => 'api_gifts' %>
</table>
</div>
<br/>

<%# add remote link to get more rows and call javascript to setup end of page event and post ajax handling of the new rows. set DEBUG_AJAX to true in initializers/constraints.rb to get more ajax debug information -%>
<%= link_to "show-more-rows", "/gifts?last_row_id=#{@last_row_id}", :remote => true, :id => "show-more-rows-link", :style => "display: none" %>
<%= render :partial => 'shared/show_more_rows', :locals => {:show_more_rows => 'gifts'} %>

<script>
    // add page specific version of pre_update_currency function.
    // That is confirm popup before leaving page with unsaved data.
    pending_gift_msg = '<%= t '.pending_gift_popup_msg' %>';
    pre_update_currency = gifts_pre_update_currency;

    // Translate texts used in client side validations.
    csv_gift_description_required = '<%= t '.description_required_text' %>';
    csv_gift_price_invalid = '<%= t '.price_invalid_text' %>';
    csv_comment_comment_required = '<%= t '.comment_comment_required_text' %>';
    csv_comment_price_invalid = '<%= t '.comment_price_invalid_text' %>';

</script>
