<% render_partial_with_language('layouts/page_header', 'init_texts') -%>
<table>
  <tr style="white-space: nowrap">
    <td>
      <div title="<%= output_text @header_user_div_title %>" onclick="top.location.href = '<%= url_for(@user) %>'">
        <table>
          <tr>
            <td rowspan="2"><%= image_tag(@user.profile_picture_url) %></td>
            <td><%= h @user.short_user_name %></td>
          </tr>
          <tr>
            <td><%= @user.api_name %></td>
          </tr>
        </table>
      </div>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td title="<%= output_text @header_currency_title %>">
      <table higth="100%">
        <tr><td><%= output_text @header_balance_prompt %> <%= @user.balance || '0.00' %> <%= output_text @header_balance_free %></td></tr>
        <tr><td><%= select_tag :user_currency_new, options_for_select(currencies, [@user.currency]), :onchange=>"update_currency()" %></td></tr>
      </table>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td title="<%= output_text @header_log_out_link_title %>">
      <%= link_to @header_log_out_link_text, fb_path(@user.id), :method => 'delete' %>
    </td>
  </tr>
</table>

