<br />
<% if !@user or @user.facebook? -%>
Retur til <%= link_to_app_on_facebook %> applikationen på <%= link_to_facebook %>.<br />
<% end -%>
<% if !@user or @user.google_plus? -%>
Retur til <%= link_to_google_plus %><br />
<% end -%>

<br />
<hr>
<p>
  <%= APP_NAME %> er et open source projekt.
  Kilde koden til denne Rails/Facebook app er offentlig tilgængelig på <%= link_to_cvs %>
  og kan under MIT Licens anvendes af andre udviklere i deres open source projekter.
  Open source betyder at der ingen hemmeligheder er omkring hvordan denne app fungerer og hvad der gemmes af oplysninger.
  <br />
  <br />
  Det er håbet at der med tiden udvikles teknologi der understøtter de mange spændende tanker
  i <%= link_to_charles_eisenstein %>'s bog <%= link_to_sacred_economics %>.<br />
  Bogen kan købes (engelsk) eller læses gratis online bl.a. i en svensk oversættelse.
</p>
