<%#
  ajax check new messages. Div buffer for new_message_count and used in post ajax processing.
  number new messages are inserted in menu line and in page title. See update_new_messages_count and update_title in my.js.
  new comments are inserted in gifts/index page. See insert_new_comments in my.js.
  todo: insert_new_comments only relevant for gifts/index page
-%>
<div id="new_messages_buffer_div" style="display: none">
  <div id="new_messages_count_div"><%= @new_messages_count %></div>
  <div id="new_comments_div"></div>
</div>
<%= link_to "check-new-messages", '/util/new_messages_count?request_fullpath=' + CGI::escape(@request_fullpath) + '&newest_gift_id=0&newest_status_update_at=0', :remote => true, :id => "check-new-messages-link", :style => "display: none" %>

<div style="width: 100%">
  <%= @page_header = true ; @size = 'small' ; render '/shared/user_div', :user_div => @user %>

  <div class="balance_and_currency_lov">
    <table height="100%">
      <tr>
        <td><%= t '.header_balance_prompt' %> <%= format_price ExchangeRate.exchange(@user.balance[BALANCE_KEY], 'USD', @user.currency) %> <%= t '.header_balance_free' %> <%= @user.currency %></td>
      </tr>
      <tr>
        <td>
          <%= hidden_field_tag :user_currency_old, @user.currency %>
          <%= select_tag :user_currency_new, options_for_select(selected_currency, [@user.currency]), :onchange => 'update_currency()' %>
        </td>
      </tr>
    </table>
  </div>

  <nav>

    <div class="menu-3-cols">
      <table>
        <tr>
          <td title="<%= t '.header_home_link_title', :appname => APP_NAME %>">
            <%= link_to t('.header_home_link_text'), gifts_path %></td>
          <td title="<%= t '.header_inbox_link_title', :appname => APP_NAME %>">
            <%= link_to t('.header_inbox_link_text'), inbox_index_path %>
            <b>
              <sup>
                <span id="new_messages_count" style="background-color:red; color:white; font-size:x-small"><%= @user.inbox_new_notifications if @user and @user.inbox_new_notifications > 0 %></span>
              </sup>
            </b></td>
          <td title="<%= t '.header_friends_link_title', :appname => APP_NAME %>">
            <%= link_to t('.header_friends_link_text'), users_path(:friends => true) %></td>
        </tr>
        <tr>
          <td title="<%= t '.header_log_out_link_title', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>">
            <%= link_to t('.header_log_out_link_text'), header_log_out_link_url, :method => 'delete' %></td>
          <td title="<%= t '.header_log_out_link_title', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>">
            <%= link_to t('.header_log_out_link_text'), header_log_out_link_url, :method => 'delete' %></td>
          <td>Gofreerev</td>
        </tr>
      </table>
    </div>

    <div class="menu-6-cols">
      <table>
        <tr>
          <td title="<%= t '.header_home_link_title', :appname => APP_NAME %>">
            <%= link_to t('.header_home_link_text'), gifts_path %></td>
          <td title="<%= t '.header_inbox_link_title', :appname => APP_NAME %>">
            <%= link_to t('.header_inbox_link_text'), inbox_index_path %>
            <b>
              <sup>
                <span id="new_messages_count" style="background-color:red; color:white; font-size:x-small"><%= @user.inbox_new_notifications if @user and @user.inbox_new_notifications > 0 %></span>
              </sup>
            </b></td>
          <td title="<%= t '.header_friends_link_title', :appname => APP_NAME %>">
            <%= link_to t('.header_friends_link_text'), users_path(:friends => true) %></td>
          <td title="<%= t '.header_log_out_link_title', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>">
            <%= link_to t('.header_log_out_link_text'), header_log_out_link_url, :method => 'delete' %></td>
          <td title="<%= t '.header_log_out_link_title', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>">
            <%= link_to t('.header_log_out_link_text'), header_log_out_link_url, :method => 'delete' %></td>
          <td>Gofreerev</td>
        </tr>
      </table>
    </div>

<!--
    <ul>

      <li title="<%= t '.header_home_link_title', :appname => APP_NAME %>">
        <%= link_to t('.header_home_link_text'), gifts_path %>
      </li>
      <li title="<%= t '.header_inbox_link_title', :appname => APP_NAME %>">
        <%= link_to t('.header_inbox_link_text'), inbox_index_path %>
        <b>
          <sup>
            <span id="new_messages_count" style="background-color:red; color:white; font-size:x-small"><%= @user.inbox_new_notifications if @user and @user.inbox_new_notifications > 0 %></span>
          </sup>
        </b>
      </li>
      <li title="<%= t '.header_friends_link_title', :appname => APP_NAME %>">
        <%= link_to t('.header_friends_link_text'), users_path(:friends => true) %>
      </li>
      <li title="<%= t '.header_api_link_title', :apiname => @user.api_name_without_brackets, :appname => APP_NAME %>">
        <%= link_to_api %>
      </li>
      <li title="<%= t '.header_log_out_link_title', :appname => APP_NAME, :apiname => @user.api_name_without_brackets %>">
        <%= link_to t('.header_log_out_link_text'), header_log_out_link_url, :method => 'delete' %>
      </li>

    </ul>
-->

  </nav>

</div>