<table>
  <tr style="white-space: nowrap">
    <td title="Se dine bruger oplysninger">
      Bruger: <%= link_to @user.user_name_with_api, @user %>.
    </td>
    <td title="Saldo. Brug valuta valg-liste hvis du ønsker din saldo vist i en anden valuta. Ens saldo i frie penge er et slags mål for taknemmelighedsgæld. Hvem har givet/modtaget mest? Hvis tur er det til at modtage/give? En positiv saldo betyder at man er god til at hjælpe andre og at ens hjælp er blevet værdsat. En negativ saldo betyder at man er god til at tage imod hjælp og at man har sat pris på hjælpen. Der er ingen sammenhæng imellem hvem der er rige/fattige i frie penge herinde og hvem der er rige/fattige i den virkelige verden">
      Saldo: <%= @user.balance || '0.00' %>
      frie
      <%= select_tag :user_currency_new, options_for_select(currencies, [@user.currency]), :onchange=>"update_currency()" %>.
    </td>
    <td title="Log ud af <%= APP_NAME %> app">
      <%= link_to "Log ud", fb_path(@user.id), :method => 'delete' %>
    </td>
  </tr>
</table>
