<table>
  <tr style="white-space: nowrap">
    <td>
      <div title="<%= my_t '.header_user_div_title', :username => @user.user_name, :appname => APP_NAME, :balance => format_user_balance(@user.balance) %>"
           onclick="top.location.href = '<%= url_for(@user) %>'">
        <table>
          <tr>
            <td rowspan="2"><%= image_tag(@user.profile_picture_url) %></td>
            <td><%= h @user.short_user_name %></td>
          </tr>
          <tr>
            <td><%= @user.api_name_with_brackets %></td>
          </tr>
        </table>
      </div>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td title="<%= my_t '.header_currency_title' %>">
      <table height="100%">
        <tr><td><%= my_t '.header_balance_prompt' %> <%= format_price @user.balance[BALANCE_KEY] %> <%= my_t '.header_balance_free' %> <%= @user.currency %></td></tr>
        <tr><td><%= select_tag :user_currency_new, options_for_select(currencies, [@user.currency]), :onchange=> 'update_currency()' %></td></tr>
      </table>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td title="<%= my_t '.header_log_out_link_title', :appname => APP_NAME %>">
      <%= link_to my_t('.header_log_out_link_text'), header_log_out_link_url, :method => 'delete' %>
    </td>
  </tr>
</table>

