<!DOCTYPE html>
<html>
<head>
  <title><%= APP_NAME %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="/javascripts/my.js"></script>
  <%= csrf_meta_tags %>
  <script>
  </script>
</head>
<body>
<!-- show page header for logged in users -->
<% if  session[:user_id] and @user -%>
  <!-- Hidden form to update currency => post to /users/:id/ => return to this page after currency has been changed -->
  <div id="update_currency_div" style="display:none">
    <%= form_for @user, :class => "update_currency_form" do |f| %>
        <%= hidden_field_tag :return_to, @request_fullpath %>
        <%= f.text_field :currency %>
    <% end %>
  </div>
  <!-- page header -->
  <%= render :partial => 'layouts/page_header' %>
  <hr/>
<% end -%>
<!-- todo: better flash/error handling -->
<% if flash[:notice] -%>
    <br />
    <div id="notification"><%= h flash[:notice] %></div>
    <br />
<% end -%>
<!-- the page -->
<%= yield %>
<!-- page footer -->
<%= render :partial => 'layouts/page_footer/page_footer' -%>
<%= dump_session_variables %>
</body>
</html>
