<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag 'normalize', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="/javascripts/jquery.form.js"></script>
  <script src="/javascripts/modernizr.js"></script>
  <script src="/javascripts/my.js"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
  <script>
  </script>
</head>
<body onload="{add_user_currency_new_event()}">
<div id="wrapper" style="width: 100%;">
  <header>
    <% if @cookie_note -%>
      <div id="cookie_note" style="width: 100%"><%= t '.cookie_note_text', :appname => APP_NAME %> <%= button_tag 'Ok', :onclick => "{document.getElementById('cookie_note').style.display = 'none'}" %><hr></div>
    <% end -%>
    <% if  session[:user_ids] and @users.length > 0 -%>
        <!-- show page header for logged in users -->
        <%# Hidden form to update currency => post to /users/:id/ => return to this page after currency has been changed -%>
        <div id="update_currency_div" style="display:none">
          <%= form_for @users.first, :class => 'update_currency_form' do |f| %>
              <%= hidden_field_tag :return_to, @request_fullpath %>
              <%= f.text_field :new_currency %>
          <% end %>
        </div>
        <%# Hidden form for post login processing (for example downloading profile image -%>
        <div style="display:none">
          <%= form_tag url_for(:controller => :util, :action => :do_tasks), :remote => true, :id => 'tasks_form' do %>
              <%= hidden_field_tag :timezone, "" %>
          <% end %>
        </div>
        <!-- page header -->
        <%= render :partial => 'layouts/page_header' %>
        <div style="width: 100%"><hr></div>
    <% end -%>
    <!-- todo: better flash/error handling -->
    <% if flash[:notice] -%>
        <br/>

        <div id="notification" style="width: 100%"><%= h flash[:notice] %></div>
        <br/>
    <% end -%>
    <div style="width: 100%"><table id="tasks_errors"></table></div>
  </header>
  <!-- the page -->
  <%= yield %>
  <footer>
    <%= render :partial => 'layouts/page_footer/page_footer' -%>
    <% if ajax_tasks? -%>
        <%# post response ajax processing - for example download profile image and friend list from login provider -%>
        <script>
            document.getElementById("timezone").value = (new Date().getTimezoneOffset()) / 60.0;
            window.setTimeout(function(){$('#tasks_form').trigger('submit.rails');}, 1000);
        </script>
    <% end -%>
  </footer>
</div>
<% if debug_ajax? -%>
    <div id="debug_log" style="width: 100%">
    </div>
<% end -%>
</body>
</html>