<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' =>  true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
<% if deep_link? -%>
<%# open graph meta-tags to be used in shared post -%>
<% puts "@request_fullpath = #{@request_fullpath}" -%>
  <meta property="og:title" content="<%= @open_graph[:title] %>" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="<%= raw @open_graph[:image] %>" />
  <meta property="og:url" content="<%= @open_graph[:url] %>" />
  <meta property="og:description" content="<%= @open_graph[:description] %>" />
  <meta property="og:site_name" content="<%= APP_NAME %>" />
  <% if API_ID[:facebook] %><meta property="fb:app_id" content="<%= API_ID[:facebook] %>" /><% end -%>
  <% if API_ID[:twitter] %><meta name="twitter:card" content="summary_large_image"><% end -%>
  <% if @open_graph[:twitter_creator] %><meta name="twitter:creator" content="<%= @open_graph[:twitter_creator] %>"><% end -%>
  <% if API_OWNER[:twitter] %><meta name="twitter:site" content="<%= API_OWNER[:twitter] %>"><% end -%>
<% end -%>
  <script>
<% if @cookie_note -%>
    window.setTimeout(hide_cookie_note,<%= (@cookie_note * 1000) %>);
<% end -%>
  </script>
</head>
<body>
<div id="wrapper" style="width: 100%;">
  <header>
    <% if @cookie_note -%>
      <div id="cookie_note" title="<%= t '.cookie_note_title', :appname => APP_NAME %>" style="width: 100%">
        <%= t '.cookie_note_text_html', :appname => APP_NAME, :url => about_index_path(:anchor => 'cookies') %>
        <%= button_tag t('.cookie_accept_text'), :onclick => "{$.cookie('cookies','accepted',{path:'/',expires:3650});document.getElementById('cookie_note').style.display = 'none'}" %>
        <%= button_tag t('.cookie_reject_text'), :onclick => "{top.location.href='" + cookie_decline_cookies_path + "'}" %>
        <%= button_tag t('.cookie_ignore_text'), :onclick => "{document.getElementById('cookie_note').style.display = 'none'}" %>
        <hr>
      </div>
    <% end -%>
    <%# Hidden form for ajax task processing (for example downloading profile image after login) -%>
    <div style="display:none">
      <%= form_tag url_for(:controller => :util, :action => :do_tasks), :remote => true, :id => 'tasks_form' do %>
          <%= hidden_field_tag :timezone, "" %>
      <% end %>
    </div>
    <%# Hidden form to update currency => post to /users/:id/ => return to this page after currency has been changed -%>
    <div id="update_currency_div" style="display:none">
      <%= form_for @users.first, :class => 'update_currency_form' do |f| %>
          <%= hidden_field_tag :return_to, @request_fullpath %>
          <%= f.text_field :new_currency %>
      <% end %>
    </div>
    <!-- page header -->
    <%= render :partial => 'layouts/page_header' %>
    <div style="width: 100%"><hr></div>
    <% if msg = get_flash -%>
        <br/>
        <div id="notification" style="width: 100%"><%= msg %></div>
        <br/>
    <% end -%>
    <div style="width: 100%"><table id="tasks_errors"></table></div>
    <div style="display: none"><table id="tasks_errors2"></table></div>
  </header>
  <!-- the page -->
  <%= yield %>
  <footer>
    <div style="width: 100%">
      <p>
        <%= t ".page_footer_html", :appname => APP_NAME,
                                   :csv_link => link_to_cvs,
                                   :charles_eisenstein_link => link_to_charles_eisenstein,
                                   :sacred_economics_link => link_to_sacred_economics %>
      </p>
    </div>
    <% if ajax_tasks? -%>
        <%# post response ajax processing - for example download profile image and friend list from login provider -%>
        <script>
            window.setTimeout(function(){$('#tasks_form').trigger('submit.rails');}, 1000);
        </script>
    <% end -%>
  </footer>
</div>
<% if debug_ajax? -%>
    <div id="debug_log" style="width: 100%">
    </div>
<% end -%>
<%= link_to '<div id="betatest"></div>'.html_safe, about_index_path(:anchor => 'betatest') %>
</body>
</html>