<!DOCTYPE html>
<html>
<head>
  <title><%= APP_NAME %></title>
  <%= stylesheet_link_tag 'normalize', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="/javascripts/jquery.cookie.js"></script>
  <script src="/javascripts/modernizr.js"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
  <script>
      $(document).ready(function() {
          // destroy all rails cookies
          $.removeCookie('_gofreerev-fb_session', { path: 'localhost/' });
          $.removeCookie('request_method', { path: 'localhost/' });
      })
  </script>
</head>
<body>
<div id="wrapper" style="width: 100%;">
  <header>
    <!-- page header -->
    <%= render :partial => 'layouts/page_header' %>
    <div style="width: 100%">
      <hr>
    </div>
  </header>
  <%= yield %>
  <div style="width: 100%">
    <hr>
  </div>
  <footer>
    <%= render :partial => 'layouts/page_footer/page_footer' -%>
  </footer>
</div>
<% if debug_ajax? -%>
    <div id="debug_log" style="width: 100%">
    </div>
<% end -%>
</body>
</html>